
# 881A sonar via RS485 board
SUBSYSTEMS=="usb", ATTRS{product}=="USB-RS485 Cable", ATTRS{manufacturer}=="FTDI", MODE="0666", PROGRAM="/bin/bash -c '/bin/echo %p | /bin/grep -c :1.0'", RESULT=="1", SYMLINK+="ttySonar"